@import './base.css';

html,
body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
  width: 100%;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.cursor-pointer {
  cursor: pointer;
}
